<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>ユーザ管理</title>

	<!-- Custom Style -->
	<link href="css/Style.css" rel="stylesheet">

	<!-- Custom JS -->
	<script src="js/Script.js"></script>

	<!-- Bootstrap Core CSS -->
	<link href="bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- MetisMenu CSS -->
	<link href="bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- jQuery -->
	<script src="bootstrap/vendor/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="bootstrap/vendor/metisMenu/metisMenu.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="bootstrap/dist/js/sb-admin-2.js"></script>
</head>

<body>
	<!-- Page Content -->
	<div id="wrapper">
		<div class="content">
			<!--detail-->
			<div class="col-lg-12 header-custom">
				<p class="page-header text-primary">
					<span class="detail_main">WEB ADMIN CONTROL PANEL</span>
					<a type="button" class="btn btn-default btn_right" th:href="@{/logout}"><span class="text-primary">LOGOUT</span></a>
				</p>
			</div>
			<!--result-->
			<div class="col-md-8 col-md-offset-2">
				<span>lOGIN SUCCESS!</span>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="page-footer font-small blue-grey lighten-5 col-md-12">

		<!-- Copyright -->
		<div class="footer-copyright text-center text-black-50 py-3">
			© 2019 Copyright:
			<a class="dark-grey-text" href="#"> infini.com</a>
			<br>
			<br>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
</body>
</html>
