<div class="seach_form" style="margin-top: 20px;"
	xmlns:th="http://www.thymeleaf.org">
	<div class="col-md-12">
		<form>
			<p>
				<span class="col-sm-1 a_w_80" style="margin-top: 4px;">ID</span> <input
					class="a_input_normal txt a_w_180"
					onkeyup="this.value=this.value.replace(/[^A-Za-z0-9]/,'')"
					name="agent_id" type="text" pattern="[0-9A-Z]+"
					th:value="${#request.getParameter('agent_id')}"> <label
					style="margin-top: 4px; width: 103px; text-align: right; padding-right: 15px">PCC</label>
				<input class="a_input_normal txt a_w_100" style="text-align: center"
					onkeyup="this.value=this.value.replace(/[^A-Za-z0-9]/,'')"
					type="text" pattern="[0-9A-Za-z]+" maxlength="4" name="pcc"
					th:value="${#request.getParameter('pcc')}">
			</p>

			<p style="display: inline-block">
				<span class="col-sm-1 a_w_80" style="margin-top: 8px;">企業名</span> <input
					class="a_input_large txt" type="text"
					onkeyup="this.value=this.value.replace(/[^A-Za-z]/,'')"
					pattern="[0-9A-Za-z]+" name="agent_name"
					th:value="${#request.getParameter('agent_name')}">
				<button type="submit" class="btn btn-primary"
					style="width: 100px; margin-left: 20px;">検索</button>
			</p>
		</form>
	</div>
</div>
<!--result-->
<div class="seach_result" xmlns:th="http://www.thymeleaf.org">

	<div class="col-md-12">
		<div class="a_total_record">
			<b th:text="${totalRecords}+'件'"></b>
		</div>
		<!-- table -->
		<div id="dataTables-example_wrapper"
			class="dataTables_wrapper form-inline dt-bootstrap no-footer">
			<div class="row">
				<div class="col-sm-12">
					<div th:if="${message!=null}" th:text="${message}"
						class="alert alert-success" id="message"></div>
				</div>
				<div class="col-sm-12 my-custom-scrollbar">
					<table width="100%"
						class="table table-hover table-striped table-bordered table-sm"
						id="dataTable" cellspacing="0">
						<thead class="a_tbl_head">
							<tr role="row">
								<th class="a_col_80" rowspan="1" colspan="1">No</th>
								<th class="a_col_120" rowspan="1" colspan="1">見積番号</th>
								<th class="a_col_240" rowspan="1" colspan="1">企業名</th>
								<th class="a_col_240" rowspan="1" colspan="1">店舗名</th>
								<th class="a_col_120" rowspan="1" colspan="1">有効/無効</th>
								<th class="a_col_80" rowspan="1" colspan="1"></th>
								<th class="a_col_80" rowspan="1" colspan="1"></th>
							</tr>
						</thead>
						<tbody>

							<tr class="gradeA odd" role="row"
								th:each="userAgent,itrStat :${listUserAgent}">
								<td th:text="${itrStat.index+1}"></td>
								<td th:text="${userAgent.agent_id}"></td>
								<td th:text="${userAgent.pcc}"></td>
								<td th:text="${userAgent.agent_name}"></td>
								<td th:text="${userAgent.store_name}"></td>
								<td class="text_center"><a th:text="削除"
									th:data-link="@{/inf_admin/agent/delete/}+${userAgent.agent_id}"
									class="delete"></a></td>
								<td class="text_center"><a th:text="編集"
									th:href="@{/inf_admin/agent/setting/}+${userAgent.agent_id}"></a></td>
							</tr>


						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- paging-->
		<div class="row" th:if="${enablePagination}">
			<div class="col-md-8 col-md-offset-2 text_center">
				<div class="dataTables_paginate paging_simple_numbers"
					id="dataTables-example_paginate">
					<ul class="pagination"
						th:with="pathPre=@{/inf_admin/history/?page=}+${page-1}+${paramSearch}
						,pathPreDisable=@{/inf_admin/agent/?page=}+${page}+${paramSearch},
						pathNe=@{/inf_admin/agent/?page=}+${page+1}+${paramSearch},pathNeDisable=@{/inf_admin/agent/?page=}+${page}+${paramSearch}">
						<li
							th:class="'paginate_button previous ' + ${disableFirstPage!=null?'disabled':''}"
							aria-controls="dataTables-example" tabindex="0"
							id="dataTables-example_previous"><a
							th:href="${disableFirstPage==null?pathPre:pathPreDisable}"> <span
								class="fa fa-chevron-left"></span>
						</a></li>
						<li th:each="pageNo:${listPage}"
							th:with="path=@{/inf_admin/agent/?page=}+${pageNo}+${paramSearch}"
							th:class="'paginate_button '+ ${page==pageNo?'active':''}"
							aria-controls="dataTables-example" tabindex="0"><a
							th:href="${path}" th:text="${pageNo}">1</a></li>

						<li
							th:class="'paginate_button next ' + ${disableLastPage!=null?'disabled':''}"
							aria-controls="dataTables-example" tabindex="0"
							id="dataTables-example_next"><a
							th:href="${disableFirstPage == null ? pathNe : pathNeDisable}">
								<span class="fa fa-chevron-right"></span>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12">
	<div class="line"></div>
	<div style="text-align: center;">
		<div class="col_sum" style="margin: auto">
			<a type="button" href="/inf_admin/agent/setting"
				class="btn btn-primary" style="width: 120px; float: left;">新規追加</a>
			<a type="button" href="/inf_admin/menu" class="btn btn-primary"
				style="width: 120px; float: right;">戻る</a>
		</div>
	</div>

</div>

<script>
	$(document).ready(function() {
		$(".delete").click(function() {
			var link = $(this).attr("data-link");
			if (confirm("Are you sure delete!")) {
				window.location.href = link;
			}
		});
	});
</script>
