<div class="navbar-header" style="display: block; float: left">
	<div class="navbar-header">
		<a class="navbar-brand" href="#"><b>INFINIロゴ</b></a>
	</div>
</div>
<div class="header_btn_right">
	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown li_custom"
			style="min-width: 80px; text-align: center"><a
			class="dropdown-toggle" data-toggle="dropdown" href="#"> <span
				class="show_w_min_1042">Kibuhachi 旅行 TuLam 支店 様 &nbsp;</span>
		</a></li>

		<li class="dropdown li_custom"
			style="min-width: 80px; text-align: center"><a
			class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
				class="fas fa-cog"></i>
		</a></li>
	</ul>
</div>